Xft.autohint:            0
Xft.lcdfilter:           lcddefault
Xft.dpi:                 96.0
Xft.hinting:             1
Xft.hintstyle:           hintmedium
Xft.antialias:           1
Xft.rgba:                rgb
Xcursor.theme:           Neutral_Plus

X48.*smallLabelFont:     -adobe-helvetica-bold-r-normal--12-120-75-75-p-70-iso8859-1
X48.*mediumLabelFont:    -adobe-helvetica-bold-r-normal--14-140-75-75-p-82-iso8859-1
X48.*largeLabelFont:     -adobe-helvetica-bold-r-normal--17-120-100-100-p-92-iso8859-1
*international:          true

URxvt*font:              xft:Tewi:regular:size=9
URxvt*imFont:            xft:Tewi:regular:size=9
URxvt*boldFont:          xft:Tewi:regular:size=9
URxvt*italicFont:        xft:Tewi:regular:size=9
URxvt*boldItalicFont:    xft:Tewi:regular:size=9

!- Perl extensions
URxvt.perl-ext-common:   default,clipboard,matcher
! URxvt.perl-ext-common:   default,clipboard,matcher,keyboard-select
URxvt.keysym.M-u:        perl:url-select:select_next
URxvt.url-launcher:      /usr/bin/firefox
URxvt.underlineURLs:     True
URxvt.matcher.button:    1 
! URxvt.keysym.M-Escape:   perl:keyboard-select:activate
!- clipboard script: http://nixmeal.wordpress.com/2012/07/24/copypaste-text-in-urxvt-rxvt-unicode-using-keyboard/
URxvt.keysym.S-Insert:   perl:clipboard:paste
URxvt.iso14755:          False

URxvt*termName:          xterm-256color
! URxvt*termName:          rxvt-unicode-256color
URxvt*geometry:          145x45
URxvt*saveLines:         45000
URxvt.depth:             32
! URxvt.iconFile:          /usr/share/pixmaps/urxvt.png
URxvt*scrollBar:         false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
! URxvt*borderLess: true
! URxvt*externalBorder:0
URxvt*internalBorder:0

!- emulate XTerm for proper recognition of key combinations in Vim
! URxvt.keysym.Up              : \033[A  !breaks arrow keys in Vim
! URxvt.keysym.Down            : \033[B  !breaks arrow keys in Vim
! URxvt.keysym.Right           : \033[C  !breaks arrow keys in Vim
! URxvt.keysym.Left            : \033[D  !breaks arrow keys in Vim
! URxvt.keysym.Page_Up         : \033[5~ !breaks scrolling in Rxvt
! URxvt.keysym.Page_Down       : \033[6~ !breaks scrolling in Rxvt
! URxvt.keysym.Home            : \033[H  !breaks navigation in Vim
! URxvt.keysym.End             : \033[F  !breaks navigation in Vim
URxvt.keysym.S-Up             : \033[1;2A
URxvt.keysym.S-Down           : \033[1;2B
URxvt.keysym.S-Right          : \033[1;2C
URxvt.keysym.S-Left           : \033[1;2D
! URxvt.keysym.S-Page_Up       : captured by terminal for scrolling
! URxvt.keysym.S-Page_Down     : captured by terminal for scrolling
URxvt.keysym.S-Home           : \033[1;2H
URxvt.keysym.S-End            : \033[1;2F
URxvt.keysym.M-Up             : \033[1;3A
URxvt.keysym.M-Down           : \033[1;3B
URxvt.keysym.M-Right          : \033[1;3C
URxvt.keysym.M-Left           : \033[1;3D
URxvt.keysym.M-Page_Up        : \033[5;3~
URxvt.keysym.M-Page_Down      : \033[6;3~
URxvt.keysym.M-Home           : \033[1;3H
URxvt.keysym.M-End            : \033[1;3F
URxvt.keysym.M-S-Up           : \033[1;4A
URxvt.keysym.M-S-Down         : \033[1;4B
URxvt.keysym.M-S-Right        : \033[1;4C
URxvt.keysym.M-S-Left         : \033[1;4D
!URxvt.keysym.M-S-Page_Up     : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.M-S-Page_Down   : seen as Rxvt.keysym.S-Page_Down
URxvt.keysym.M-S-Home         : \033[1;4H
URxvt.keysym.M-S-End          : \033[1;4F
URxvt.keysym.C-Up             : \033[1;5A
URxvt.keysym.C-Down           : \033[1;5B
URxvt.keysym.C-Right          : \033[1;5C
URxvt.keysym.C-Left           : \033[1;5D
URxvt.keysym.C-Page_Up        : \033[5;5~
URxvt.keysym.C-Page_Down      : \033[6;5~
URxvt.keysym.C-Home           : \033[1;5H
URxvt.keysym.C-End            : \033[1;5F
URxvt.keysym.C-S-Up           : \033[1;6A
URxvt.keysym.C-S-Down         : \033[1;6B
URxvt.keysym.C-S-Right        : \033[1;6C
URxvt.keysym.C-S-Left         : \033[1;6D
!URxvt.keysym.C-S-Page_Up     : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.C-S-Page_Down   : seen as Rxvt.keysym.S-Page_Down
URxvt.keysym.C-S-Home         : \033[1;6H
URxvt.keysym.C-S-End          : \033[1;6F
URxvt.keysym.M-C-Up           : \033[1;7A
URxvt.keysym.M-C-Down         : \033[1;7B
URxvt.keysym.M-C-Right        : \033[1;7C
URxvt.keysym.M-C-Left         : \033[1;7D
URxvt.keysym.M-C-Page_Up      : \033[5;7~
URxvt.keysym.M-C-Page_Down    : \033[6;7~
URxvt.keysym.M-C-Home         : \033[1;7H
URxvt.keysym.M-C-End          : \033[1;7F
URxvt.keysym.M-C-S-Up         : \033[1;8A
URxvt.keysym.M-C-S-Down       : \033[1;8B
URxvt.keysym.M-C-S-Right      : \033[1;8C
URxvt.keysym.M-C-S-Left       : \033[1;8D
!URxvt.keysym.M-C-S-Page_Up   : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.M-C-S-Page_Down : seen as Rxvt.keysym.S-Page_Down
URxvt.keysym.M-C-S-Home       : \033[1;8H
URxvt.keysym.M-C-S-End        : \033[1;8F

! Normal
*URxvt*keysym.Home:		\033OH
*URxvt*keysym.End:		\033OF
*URxvt*keysym.F1:		\033OP
*URxvt*keysym.F2:		\033OQ
*URxvt*keysym.F3:		\033OR
*URxvt*keysym.F4:		\033OS

!- Shift
!- paste conflict
! *URxvt*keysym.S-Insert:	\033[2;2~
*URxvt*keysym.S-Delete:		\033[3;2~
*URxvt*keysym.S-Home:		\033[1;2H
*URxvt*keysym.S-End:		\033[1;2F
!- scrolling conflict
! *URxvt*keysym.S-Page_Up:	\033[5;2~
! *URxvt*keysym.S-Page_Down:	\033[6;2~

*URxvt*keysym.S-F1:		\033[1;2P
*URxvt*keysym.S-F2:		\033[1;2Q
*URxvt*keysym.S-F3:		\033[1;2R
*URxvt*keysym.S-F4:		\033[1;2S
*URxvt*keysym.S-F5:		\033[15;2~
*URxvt*keysym.S-F6:		\033[17;2~
*URxvt*keysym.S-F7:		\033[18;2~
*URxvt*keysym.S-F8:		\033[19;2~
*URxvt*keysym.S-F9:		\033[20;2~
*URxvt*keysym.S-F10:		\033[21;2~
*URxvt*keysym.S-F11:		\033[23;2~
*URxvt*keysym.S-F12:		\033[24;2~

! Alt
*URxvt*keysym.M-Insert:		\033[2;3~
*URxvt*keysym.M-Delete:		\033[3;3~
*URxvt*keysym.M-Home:		\033[1;3H
*URxvt*keysym.M-End:		\033[1;3F
*URxvt*keysym.M-Page_Up:	\033[5;3~
*URxvt*keysym.M-Page_Down:	\033[6;3~

*URxvt*keysym.M-F1:		\033[1;3P
*URxvt*keysym.M-F2:		\033[1;3Q
*URxvt*keysym.M-F3:		\033[1;3R
*URxvt*keysym.M-F4:		\033[1;3S
*URxvt*keysym.M-F5:		\033[15;3~
*URxvt*keysym.M-F6:		\033[17;3~
*URxvt*keysym.M-F7:		\033[18;3~
*URxvt*keysym.M-F8:		\033[19;3~
*URxvt*keysym.M-F9:		\033[20;3~
*URxvt*keysym.M-F10:		\033[21;3~
*URxvt*keysym.M-F11:		\033[23;3~
*URxvt*keysym.M-F12:		\033[24;3~

*URxvt*keysym.M-Up:		\033[1;3A
*URxvt*keysym.M-Down:		\033[1;3B
*URxvt*keysym.M-Right:		\033[1;3C
*URxvt*keysym.M-Left:		\033[1;3D

! Shift+Alt
*URxvt*keysym.S-M-F1:		\033[1;4P
*URxvt*keysym.S-M-F2:		\033[1;4Q
*URxvt*keysym.S-M-F3:		\033[1;4R
*URxvt*keysym.S-M-F4:		\033[1;4S
*URxvt*keysym.S-M-F5:		\033[15;4~
*URxvt*keysym.S-M-F6:		\033[17;4~
*URxvt*keysym.S-M-F7:		\033[18;4~
*URxvt*keysym.S-M-F8:		\033[19;4~
*URxvt*keysym.S-M-F9:		\033[20;4~
*URxvt*keysym.S-M-F10:		\033[21;4~
*URxvt*keysym.S-M-F11:		\033[23;4~
*URxvt*keysym.S-M-F12:		\033[24;4~

*URxvt*keysym.S-M-Insert:	\033[2;4~
*URxvt*keysym.S-M-Delete:	\033[3;4~
*URxvt*keysym.S-M-Home:		\033[1;4H
*URxvt*keysym.S-M-End:		\033[1;4F
*URxvt*keysym.S-M-Page_Up:	\033[5;4~
*URxvt*keysym.S-M-Page_Down:	\033[6;4~

*URxvt*keysym.S-M-Up:		\033[1;4A
*URxvt*keysym.S-M-Down:		\033[1;4B
*URxvt*keysym.S-M-Right:	\033[1;4C
*URxvt*keysym.S-M-Left:		\033[1;4D

! Control
*URxvt*keysym.C-F1:		\033[1;5P
*URxvt*keysym.C-F2:		\033[1;5Q
*URxvt*keysym.C-F3:		\033[1;5R
*URxvt*keysym.C-F4:		\033[1;5S
*URxvt*keysym.C-F5:		\033[15;5~
*URxvt*keysym.C-F6:		\033[17;5~
*URxvt*keysym.C-F7:		\033[18;5~
*URxvt*keysym.C-F8:		\033[19;5~
*URxvt*keysym.C-F9:		\033[20;5~
*URxvt*keysym.C-F10:		\033[21;5~
*URxvt*keysym.C-F11:		\033[23;5~
*URxvt*keysym.C-F12:		\033[24;5~

!*URxvt*keysym.C-Insert:		\033[2;5~
*URxvt*keysym.C-Delete:		\033[3;5~
*URxvt*keysym.C-Home:		\033[1;5H
*URxvt*keysym.C-End:		\033[1;5F
*URxvt*keysym.C-Page_Up:	\033[5;5~
*URxvt*keysym.C-Page_Down:	\033[6;5~

*URxvt*keysym.C-Up:		\033[1;5A
*URxvt*keysym.C-Down:		\033[1;5B
*URxvt*keysym.C-Right:		\033[1;5C
*URxvt*keysym.C-Left:		\033[1;5D

! Shift+Control
*URxvt*keysym.S-C-F1:		\033[1;6P
*URxvt*keysym.S-C-F2:		\033[1;6Q
*URxvt*keysym.S-C-F3:		\033[1;6R
*URxvt*keysym.S-C-F4:		\033[1;6S
*URxvt*keysym.S-C-F5:		\033[15;6~
*URxvt*keysym.S-C-F6:		\033[17;6~
*URxvt*keysym.S-C-F7:		\033[18;6~
*URxvt*keysym.S-C-F8:		\033[19;6~
*URxvt*keysym.S-C-F9:		\033[20;6~
*URxvt*keysym.S-C-F10:		\033[21;6~
*URxvt*keysym.S-C-F11:		\033[23;6~
*URxvt*keysym.S-C-F12:		\033[24;6~

*URxvt*keysym.S-C-Insert:	\033[2;6~
*URxvt*keysym.S-C-Delete:	\033[3;6~
*URxvt*keysym.S-C-Home:		\033[1;6H
*URxvt*keysym.S-C-End:		\033[1;6F
*URxvt*keysym.S-C-Page_Up:	\033[5;6~
*URxvt*keysym.S-C-Page_Down:	\033[6;6~

*URxvt*keysym.S-C-Up:		\033[1;6A
*URxvt*keysym.S-C-Down:		\033[1;6B
*URxvt*keysym.S-C-Right:	\033[1;6C
*URxvt*keysym.S-C-Left:		\033[1;6D

! Alt+Control
*URxvt*keysym.M-C-F1:		\033[1;7P
*URxvt*keysym.M-C-F2:		\033[1;7Q
*URxvt*keysym.M-C-F3:		\033[1;7R
*URxvt*keysym.M-C-F4:		\033[1;7S
*URxvt*keysym.M-C-F5:		\033[15;7~
*URxvt*keysym.M-C-F6:		\033[17;7~
*URxvt*keysym.M-C-F7:		\033[18;7~
*URxvt*keysym.M-C-F8:		\033[19;7~
*URxvt*keysym.M-C-F9:		\033[20;7~
*URxvt*keysym.M-C-F10:		\033[21;7~
*URxvt*keysym.M-C-F11:		\033[23;7~
*URxvt*keysym.M-C-F12:		\033[24;7~

*URxvt*keysym.M-C-Insert:	\033[2;7~
*URxvt*keysym.M-C-Delete:	\033[3;7~
*URxvt*keysym.M-C-Home:		\033[1;7H
*URxvt*keysym.M-C-End:		\033[1;7F
*URxvt*keysym.M-C-Page_Up:	\033[5;7~
*URxvt*keysym.M-C-Page_Down:	\033[6;7~

*URxvt*keysym.M-C-Up:		\033[1;7A
*URxvt*keysym.M-C-Down:		\033[1;7B
*URxvt*keysym.M-C-Right:	\033[1;7C
*URxvt*keysym.M-C-Left:		\033[1;7D

! Shift+Alt+Control
*URxvt*keysym.S-M-C-F1:		\033[1;8P
*URxvt*keysym.S-M-C-F2:		\033[1;8Q
*URxvt*keysym.S-M-C-F3:		\033[1;8R
*URxvt*keysym.S-M-C-F4:		\033[1;8S
*URxvt*keysym.S-M-C-F5:		\033[15;8~
*URxvt*keysym.S-M-C-F6:		\033[17;8~
*URxvt*keysym.S-M-C-F7:		\033[18;8~
*URxvt*keysym.S-M-C-F8:		\033[19;8~
*URxvt*keysym.S-M-C-F9:		\033[20;8~
*URxvt*keysym.S-M-C-F10:	\033[21;8~
*URxvt*keysym.S-M-C-F11:	\033[23;8~
*URxvt*keysym.S-M-C-F12:	\033[24;8~

*URxvt*keysym.S-M-C-Insert:	\033[2;8~
*URxvt*keysym.S-M-C-Delete:	\033[3;8~
*URxvt*keysym.S-M-C-Home:	\033[1;8H
*URxvt*keysym.S-M-C-End:	\033[1;8F
*URxvt*keysym.S-M-C-Page_Up:	\033[5;8~
*URxvt*keysym.S-M-C-Page_Down:	\033[6;8~

*URxvt*keysym.S-M-C-Up:		\033[1;8A
*URxvt*keysym.S-M-C-Down:	\033[1;8B
*URxvt*keysym.S-M-C-Right:	\033[1;8C
*URxvt*keysym.S-M-C-Left:	\033[1;8D

xcalc*ti.button1.vertDistance:          4
xcalc*ti.button2.vertDistance:          4
xcalc*ti.button3.vertDistance:          4
xcalc*ti.button4.vertDistance:          4
xcalc*ti.button5.vertDistance:          4
xcalc*ti.background:                    gray90
xcalc*ti.bevel.borderColor:             gray65
xcalc*ti.bevel.borderWidth:             1
xcalc*ti.bevel.vertDistance:            4
xcalc*ti.bevel.defaultDistance:         0
xcalc*ti.bevel.background:              rgb:b/c/b
xcalc*ti.bevel.screen*background:       rgb:b/c/b
xcalc*ti.bevel.screen.borderColor:      rgb:b/c/b
xcalc*ti.bevel.screen.vertDistance:     10
xcalc*ti.bevel.screen.horizDistance:    10
xcalc*ti.bevel.screen*left:             chainLeft
xcalc*ti.bevel.screen*right:            chainRight
xcalc*ti.bevel.screen*top:              chainTop
xcalc*ti.bevel.screen*bottom:           chainBottom
xcalc*ti.bevel.screen*LCD.foreground:   gray10
xcalc*ti.bevel.screen*INV.vertDistance: 0
xcalc*ti.Command.borderColor:           gray65
xcalc*ti.Command.background:            gray85
xcalc*ti.Command.foreground:            gray30
xcalc*ti.button5.background:            rgb:e/b/b
xcalc*ti.button20.background:           rgb:e/d/c
xcalc*ti.button25.background:           rgb:e/d/c
xcalc*ti.button30.background:           rgb:e/d/c
xcalc*ti.button35.background:           rgb:e/d/c
xcalc*ti.button40.background:           rgb:b/b/e
xcalc*ti.button22.background:           gray95
xcalc*ti.button23.background:           gray95
xcalc*ti.button24.background:           gray95
xcalc*ti.button27.background:           gray95
xcalc*ti.button28.background:           gray95
xcalc*ti.button29.background:           gray95
xcalc*ti.button32.background:           gray95
xcalc*ti.button33.background:           gray95
xcalc*ti.button34.background:           gray95
xcalc*ti.button37.background:           gray95
xcalc*ti.button38.background:           gray95
xcalc*ti.button39.background:           gray95
xcalc.ti.button20.label:                /

XTerm*utf8Title:       true
xterm*title:           xterm
xterm*utf8:            1
! xterm*font:            terminus:pixelsize=7
! xterm*boldFont:        terminus:pixelsize=7

XTerm*renderFont: true
xterm*faceName:       Tewi 
! xterm*boldfaceName:   Tewi 
XTerm*faceSize: 9
XTerm*boldMode:        false

xterm*geometry:        145x45
xterm*cutNewline:      false
xterm*on4Clicks:       group
xterm*on5Clicks:       page
xterm*internalBorder:  1
xterm*metaSendsEscape: true
xterm*cursorBlink:     false
xterm*charClass:       33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48,35:48,58:48,63:48,61:48,44:48,38:48,59:48
xterm*jumpScroll:      true
xterm*multiScroll:     true
xterm*saveLines:       512

! -- Colors -- !

!-- Emerald:

URxvt.background: [80]#161a19
! URxvt.background: #161a19
URxvt.foreground: #c5c1b7
URxvt.color0:     #161a19
URxvt.color8:     #354341
URxvt.color1:     #c34627
URxvt.color9:     #d26939
URxvt.color2:     #0b6d5c
URxvt.color10:    #229986
URxvt.color3:     #edb54b
URxvt.color11:    #c7c32a
URxvt.color4:     #5b7a75
URxvt.color12:    #559ca8
URxvt.color5:     #4e5165
URxvt.color13:    #888ba5
URxvt.color6:     #02c9de
URxvt.color14:    #4ed3fc
URxvt.color7:     #edebe6
URxvt.color15:    #fcfcfa

!- GruvBox:

! URxvt.color24: #076678
! URxvt.color66: #427b58
! URxvt.color88: #9d0006
! URxvt.color96: #8f3f71
! URxvt.color100: #79740e
! URxvt.color108: #8ec07c
! URxvt.color109: #83a598
! URxvt.color130: #af3a03
! URxvt.color136: #b57614
! URxvt.color142: #b8bb26
! URxvt.color167: #fb4934
! URxvt.color175: #d3869b
! URxvt.color208: #fe8019
! URxvt.color214: #fabd2f
! URxvt.color223: #ebdbb2
! URxvt.color228: #f4e8ba
! URxvt.color229: #fdf4c1
! URxvt.color230: #ffffc8
! URxvt.color234: #1d2021
! URxvt.color235: #282828
! URxvt.color236: #32302f
! URxvt.color237: #3c3836
! URxvt.color239: #504945
! URxvt.color241: #665c54
! URxvt.color243: #7c6f64
! URxvt.color244: #928374
! URxvt.color245: #928374
! URxvt.color246: #a89984
! URxvt.color248: #bdae93
! URxvt.color250: #d5c4a1

! ------- XTerm:

XTerm*utf8:             1
XTerm*Background:       #004040
XTerm*Foreground:       #00C0C0
XTerm*HiForeColor:      #00C0C0
XTerm*HiBackColor:      #004040

! XTerm*cursorColor:      #00C0C0

XTerm*color0:           #004040
XTerm*color1:           #00C0C0
XTerm*color2:           #00C0C0
XTerm*color3:           #00C0C0
XTerm*color4:           #00C0C0
XTerm*color5:           #00C0C0
XTerm*color6:           #00C0C0
XTerm*color7:           #00C0C0
XTerm*color8:           #00C0C0
XTerm*color9:           #00C0C0
XTerm*color10:          #00C0C0
XTerm*color11:          #00C0C0
XTerm*color12:          #00C0C0
XTerm*color13:          #00C0C0
XTerm*color14:          #00C0C0
XTerm*color15:          #00C0C0

